In [71]:
#import pyfair
from pyfair.model.model import FairModel
from pyfair.model.meta_model import FairMetaModel

import matplotlib
%matplotlib inline

import numpy as np
import pandas as pd

import pyfair

import uuid

In [ ]:
import sqlite3


class FairDatabase(object):
    '''A wrapper class for an SQLite3 database for storing models.'''
    
    def __init__(self, path):
        self._path = path
        self._initialize()
    
    def _initialize(self):
        '''Initialize if necessary.'''
        
    def _df_to_dict(self, input_df):
        pass
    
    def _dict_to_df(self, input_dict)

In [82]:
df1 = pd.DataFrame(columns=['target', 'low', 'mode', 'high'])
df1.loc[uuid.uuid4()] = ['Loss Magnitude', 100.0, 120.0, 150.0]
df1

                                              target    low   mode   high
0807e5d1-3776-452d-b27d-cae660f554de  Loss Magnitude  100.0  120.0  150.0

In [83]:
df2 = pd.DataFrame(columns=['target', 'p'])
df2.loc[uuid.uuid4()] = ['Vulnerability', .05]
df2

                                             target     p
2a3e1ef0-ea40-4afc-bf67-8f8d8e117d30  Vulnerability  0.05

In [84]:
df3 = pd.DataFrame(columns=['target', 'constant'])
df3.loc[uuid.uuid4()] = ['Primary Loss Magnitude', 100_000.0]
df3

                                                      target  constant
c2b1d4f2-0628-4ef2-9c64-3150d53d2707  Primary Loss Magnitude  100000.0

In [85]:
df4 = pd.DataFrame(columns=['target', 'mean', 'stdev'])
df4.loc[uuid.uuid4()] = ['TCap', .5, .1]
df4

                                     target  mean  stdev
af94aff5-1d7f-440f-bbe9-01207f5a625b   TCap   0.5    0.1

In [87]:
df5 = pd.DataFrame(columns=['Loss Name', 'Frequency', 'Magnitude'])
df5.loc[uuid.uuid4()] = ['Reuptainal', 100_000.0, 50.0]
df5

                                       Loss Name Frequency Magnitude
5a0161ae-cc68-4e57-94bc-54b2d3413de7  Reuptainal    100000        50

In [88]:
df5 = pd.DataFrame(columns=['Name', 'N Simulations', 'Date Created', 'Type'])
df5.loc[uuid.uuid4()] = ['Regular Model 1', 1000, "2019-07-06 17:23:43.647370", 'FairModel']
df5

,Name,N Simulations,Date Created,Type
2d436313-3ed5-4074-b6aa-b85c84f4f562,Regular Model 1,1000,2019-07-06 17:23:43.647370,FairModel

In [89]:
df6 = pd.DataFrame(columns=['Mean', 'Stdev', 'Minimum', 'Maximum'])
df6.loc[uuid.uuid4()] = [25, 1, 0, 90]
df6

                                     Mean Stdev Minimum Maximum
5341ac20-f71f-4c9d-a127-710e8a779eda   25     1       0      90

In [90]:
df7 = pd.DataFrame(columns=['Mean', 'Stdev', 'Minimum', 'Maximum'])
df7.loc[uuid.uuid4()] = [25, 1, 0, 90]
df7

                                     Mean Stdev Minimum Maximum
e100dc0a-6fd0-40e0-a6d4-8661fab83491   25     1       0      90

In [91]:
df8 = pd.DataFrame(columns=['Metamodel', 'Model'])
df8.loc[0] = [uuid.uuid4(), uuid.uuid4()]
df8

                              Metamodel                                 Model
0  80db8061-9b81-4e92-b4c8-519fc42d4ab4  23528a0b-587e-4986-a085-70ca054f8db1

In [ ]:
    "name": "Regular Model 1",
    "n_simulations": 10000,
    "random_seed": 42,
    "model_uuid": "b6c6c968-a03c-11e9-a5db-f26e0bbd6dbc",
    "type": "FairModel",
    "creation_date": "2019-07-06 17:23:43.647370"
}


        "model_uuid": "b6c6c968-a03c-11e9-a5db-f26e0bbd6dbc",
        "type": "FairModel",
        "creation_date": "2019-07-06 17:23:43.647370"
    },
    "Regular Model 2": {
        "Loss Event Frequency": {
            "mean": 0.3,
            "stdev": 0.1
        },
        "Loss Magnitude": {
            "low": 2000000000,
            "mode": 3000000000,
            "high": 5000000000
        },
        "name": "Regular Model 2",
        "n_simulations": 10000,
        "random_seed": 42,
        "model_uuid": "b6ca98a4-a03c-11e9-8ce0-f26e0bbd6dbc",
        "type": "FairModel",
        "creation_date": "2019-07-06 17:23:43.672336"
    },
    "name": "My Meta Model!",
    "model_uuid": "b6cce298-a03c-11e9-b79f-f26e0bbd6dbc",
    "creation_date": "2019-07-06 17:23:43.687336",
    "type": "FairMetaModel"
}